.main {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 1rem;
    background-color: #2874f0;
}

.main__body {
    margin-top: 4rem;
}

.form {
    width: 80%;
    display: flex;
}

.form__select {
    flex-grow: 1;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #777;
}

.form__input {
    flex-grow: 8;
    padding: 0.7rem;
    border: none;
    border: 1px solid gainsboro;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

::placeholder {
    color: #777;
}

.form__select:focus {
    outline: none;
}

.form__input:focus {
    outline: 0;
}

.form__button {
    flex-grow: 0.5;
    background-color: #fff;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 0 4px 4px 0;
    color: #2874f0;
    font-size: 16px;
    cursor: pointer;
}


.error{
    font-size: 20px;
}